<app-bar-authorities></app-bar-authorities>

<div class="container">

        <h2 class="page-header">สรุปจำนวนวัสดุอุปกรณ์ที่จองล่วงหน้า</h2><br>
        
        
            <table class="table_check" style="width: 70%;margin-left:15%; 
            margin-right:15%">
                <tr>
                <th style="text-align:center" width="3%"> ลำดับ </th>
                <th style="text-align:center" width="20%"> รายการช่ือ</th>
                <th style="text-align:center" width="5%"> สูตร </th>
                <th style="text-align:center" width="5%"> เกรด </th>
                <th style="text-align:center" width="5%"> ขนาด </th>
                <th style="text-align:center" width="5%"> จำนวน</th>
                <th style="text-align:center" width="8%"> รายละเอียด </th>
                <th style="text-align:center" width="8%"> หมายเหตุ </th>
                </tr>
            </table>
    </div>            
                