<app-bar></app-bar>







<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Dropdown button
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Link 1</a>
      <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a>
    </div>
  </div>


  <div class="container">

      <h2 class="page-header">รายการวัสดุ เครื่องแก้ว</h2>
      
      <br>
      </div>
      
      <div  style="text-align:center"  >
      
            <input type="text" name="search" id="search"  placeholder=" search" [(ngModel)]="searchText">
        <input class="btn btn-default" type="submit" value="ค้นหา">
      
      </div><br>
      



<div class="text-align:center;">
      <table class="table_check" style="width: 70%;margin-left:15%; 
      margin-right:15%">
        <thead>
          <tr>
            <th style="text-align:center">ลำดับ </th>
            <th style="text-align:center">รายชื่อ</th>
            <th style="text-align:center">สูตรเคมี</th>
            <th style="text-align:center">ยี่ห้อ</th>
            <th style="text-align:center">เกรด</th>
            <th style="text-align:center">ขนาด</th>
            <th style="text-align:center">ราคา</th>
            <th style="text-align:center">จำนวน</th>
    
          </tr>
        </thead>
        <!-- | filter searchText -->
        <tbody style="width: 100%" id="myTable">
            <tr *ngFor="let u of showc ;let i = index">
                 <td style="text-align:center">{{i+1}}</td>
                 <td style="text-align:center">{{u.name}}</td>
                 <td style="text-align:center">{{u.chemical_formula}}</td>
                 <td style="text-align:center">{{u.brand}}</td>
                 <td style="text-align:center">{{u.grade}}</td>
                 <td style="text-align:center">{{u.size}}</td>
                 <td style="text-align:center">{{u['price/unit']}}</td>
                 <td style="text-align:center">{{u.amout}}</td>
             </tr>
        </tbody>         
                 
      </table>


  </div>

 
 

        

<!-- "<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">

    <ul class="nav navbar-nav">
        <li class="active"><a href="#" class=" glyphicon glyphicon-home"> หน้าแรก<span style="font-size:16px;" ></span></a></li><br>

        <li class="dropdown">
             <a href="#" class="dropdown-toggle " data-toggle="dropdown">ทั่วไป<span class="caret"></span><span style="font-size:16px;" ></span></a>
                
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><a href="#">หมวด A</a></li>
              <li><a href="#">หมวด B</a></li>
              <li><a href="#">หมวด C</a></li>
              <li><a href="#">หมวด D</a></li>
              <li><a href="#">หมวด E</a></li>
              <li><a href="#">หมวด F</a></li>
              <li><a href="#">หมวด G</a></li>
              <li><a href="#">หมวด H</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด K</a></li>
              <li><a href="#">หมวด L</a></li>
              <li><a href="#">หมวด M</a></li>
              <li><a href="#">หมวด N</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด P</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด R</a></li>
              <li><a href="#">หมวด S</a></li>
              <li><a href="#">หมวด T</a></li>
              <li><a href="#">หมวด U</a></li>
              <li><a href="#">หมวด V</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด X</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด Z</a></li>
      
       
            </ul>
      
            <a href="#" class="dropdown-toggle " data-toggle="dropdown">ทั่วไป<span class="caret"></span><span style="font-size:16px;" ></span></a>
                
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><a href="#">หมวด A</a></li>
              <li><a href="#">หมวด B</a></li>
              <li><a href="#">หมวด C</a></li>
              <li><a href="#">หมวด D</a></li>
              <li><a href="#">หมวด E</a></li>
              <li><a href="#">หมวด F</a></li>
              <li><a href="#">หมวด G</a></li>
              <li><a href="#">หมวด H</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด K</a></li>
              <li><a href="#">หมวด L</a></li>
              <li><a href="#">หมวด M</a></li>
              <li><a href="#">หมวด N</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด P</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด R</a></li>
              <li><a href="#">หมวด S</a></li>
              <li><a href="#">หมวด T</a></li>
              <li><a href="#">หมวด U</a></li>
              <li><a href="#">หมวด V</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด X</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด Z</a></li>
      
       
            </ul>
            <a href="#" class="dropdown-toggle " data-toggle="dropdown">ทั่วไป<span class="caret"></span><span style="font-size:16px;" ></span></a>
                
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><a href="#">หมวด A</a></li>
              <li><a href="#">หมวด B</a></li>
              <li><a href="#">หมวด C</a></li>
              <li><a href="#">หมวด D</a></li>
              <li><a href="#">หมวด E</a></li>
              <li><a href="#">หมวด F</a></li>
              <li><a href="#">หมวด G</a></li>
              <li><a href="#">หมวด H</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด K</a></li>
              <li><a href="#">หมวด L</a></li>
              <li><a href="#">หมวด M</a></li>
              <li><a href="#">หมวด N</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด P</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด R</a></li>
              <li><a href="#">หมวด S</a></li>
              <li><a href="#">หมวด T</a></li>
              <li><a href="#">หมวด U</a></li>
              <li><a href="#">หมวด V</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด X</a></li>
              <li><a href="#">หมวด I</a></li>
              <li><a href="#">หมวด Z</a></li>
      
       
            </ul>
          
      </li>
    </ul>    
</div> -->
                









