<app-bar-authorities></app-bar-authorities>


<div class="container">

    <h2 class="page-header">สรุปการใช้วัสดุ เครื่องแก้วที่ต้องการยืมวันนี้</h2><br>
    
    
        <table class="table_check" style="width: 70%;margin-left:15%; 
        margin-right:15%">
            <tr>
            <th style="text-align:center" width="3%"> ลำดับ </th>
            <th style="text-align:center" width="20%"> รายการที่ต้องการเบิก/ยืม</th>
            <th style="text-align:center" width="5%"> สูตรเคมี </th>
            <th style="text-align:center" width="5%"> เกรด </th>
            <th style="text-align:center" width="5%"> ขนาด </th>
            <th style="text-align:center" width="5%"> จำนวน</th>
            <th style="text-align:center" width="8%">หมายเหตุ  </th>
            </tr>
        </table>
</div>            
            