<app-bar-authorities></app-bar-authorities>


<div class="container">
  <br>

<div class="table_chemical">
  <table class="table_chemical" style="width: 80%;margin-left:10%; 
  margin-right:15%">
    <thead>
     <tr>
      <th style="text-align:center" rowspan="2">ลำดับ</th>
      <th style="text-align:center" rowspan="2">รหัสนิสิต</th>
      <th style="text-align:center" rowspan="2">ชื่อ-นามสกุล</th>
      <th style="text-align:center" rowspan="2">วันที่ยื่น</th>
      <th style="text-align:center" rowspan="2">อาจารย์ที่ปรึกษา</th>
      <th style="text-align:center" rowspan="2" align="right">สถานะการรับของ</th>
      <th style="text-align:center" rowspan="2" align="right">รายละเอียด</th>
      <th style="text-align:center" rowspan="2" align="right">หมายเหตุ</th>
      <th style="text-align:center" rowspan="2" align="right">พิมพ์เอกสาร</th>
     </tr>
    </thead>
   </table>
</div> 
</div>

   