<app-bar-teacher></app-bar-teacher>

<div class="tabel_check">
        <table class="table_check" style="width: 70%;margin-left:15%; 
        margin-right:15%">
         <tr> 
              <th style="text-align:center" rowspan="2" width="3%"> ลำดับ </th>
              <th style="text-align:center" rowspan="2" width="20%"> รายการที่ต้องการเบิก/ยืม</th>
              <th style="text-align:center" rowspan="2" width="5%"> สูตรเคมี </th>
              <th style="text-align:center" rowspan="2" width="5%"> เกรด </th> 
              <th style="text-align:center" rowspan="2" width="5%"> ขนาด </th>
              <th style="text-align:center" colspan="2" width="17%"> จำนวน/ปริมาณที่ต้องใช้ (ระบุหน่วย) </th>
              <th style="text-align:center" rowspan="2" align="right" width="8%">อนุมัติ  </th>
              <th style="text-align:center" rowspan="2" align="right" width="8%">ไม่อนุมัติ  </th>
              <th style="text-align:center" rowspan="2" align="right" width="8%">หมายเหตุ  </th>
             </tr>
             <tr >
                <th style="text-align:center">บิก</th>
                <th style="text-align:center">ยืม</th>
             </tr>

         </table>
</div><br>  

<div style="text-align:center" class="col-sm-offset-2 col-sm-8">
    <input type="submit" name="submit" value="ยืนยัน" class="btn btn-primary">
   
         
  </div>
           