<app-bar></app-bar>



<div class="container" >
  <table style="width: 70%;margin-left:15%; 
  margin-right:15%" border="1">
    <tr> 
      <th  style="text-align:center" rowspan="2" width="3%"> ลำดับ </th>
      <th  style="text-align:center" rowspan="2" width="20%"> รายการที่ต้องการเบิก/ยืม</th>
      <th  style="text-align:center" rowspan="2" width="5%"> สูตรเคมี </th>
      <th  style="text-align:center" rowspan="2" width="5%"> ยี่ห้อ </th>
      <th  style="text-align:center" rowspan="2" width="5%"> เกรด </th> 
      <th  style="text-align:center" rowspan="2" width="5%"> ขนาด </th>
      <th  style="text-align:center" rowspan="2" width="5%">ราคาต่อหน่วย  </th>
      <th  style="text-align:center" colspan="2" width="17%"> จำนวน/ปริมาณที่ต้องใช้ (ระบุหน่วย) </th>
      <th  style="text-align:center" rowspan="2" align="right" width="5%">ราคารวม  </th>
      <th  style="text-align:center" rowspan="2" align="right" width="5%">สถานะการอนุมัติของอาจารย์  </th>
      <th  style="text-align:center" rowspan="2" align="right" width="5%">สถานะการอนุมัติของเจ้าหน้าที่  </th>
      <th  style="text-align:center" rowspan="2" align="right" width="8%">หมายเหตุ  </th>
    </tr>
  <tr>
      <td>เบิก</td>
      <td>ยืม</td>
  </tr>
  </table>
  </div>