<app-bar-teacher></app-bar-teacher>



<div class="container">
          

  <div class="tabel_check">
    <table class="table_chemical" style="width: 70%;margin-left:15%; 
    margin-right:15%">
      <thead>
        <tr>
          <th style="text-align:center" rowspan="2"> ลำดับ</th>
          <th style="text-align:center" rowspan="2">วันที่ยืน</th>
          <th style="text-align:center" rowspan="2">เจ้าหน้าที่ห้องปฎิบัติการ</th>
          <th style="text-align:center" rowspan="2" align="right">รายละเอียด</th>
          <th style="text-align:center" rowspan="2" align="right">พิมพ์เอกสาร</th>
        </tr>
      
      </thead>
    </table>
  </div>
</div>     
      

