<app-bar></app-bar>




<div class="container" >
    <table class="table_check" style="width: 70%;margin-left:15%; 
    margin-right:15%">
    <thead>
      <tr>
        <th style="text-align:center">ลำดับ </th>
        <th style="text-align:center">วันที่ยื่น</th>
        <th style="text-align:center">อาจารย์ที่ปรึกษา</th>
        <th style="text-align:center">เจ้าหน้าที่ห้องปฏิบัติการ</th>
        <th style="text-align:center">รายละเอียด</th>
        <th style="text-align:center"> พิมพ์เอกสาร</th>

      </tr>
    </thead>

    </table>
    </div>