<app-bar-authorities></app-bar-authorities>


<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>


<!-- <nav class="navbar navbar-default sidebar" role="navigation">
<div class="container-fluid">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button> 

</div>  

<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">

    <div class="nav navbar-nav">
        <li class="active"><a href="#" class=" glyphicon glyphicon-home"> หน้าแรก<span style="font-size:16px;" ></span></a></li>
  
        <div class="dropdown">
            <a href="#" class="dropdown-toggle " data-toggle="dropdown">ทั่วไป<span class="caret"></span><span style="font-size:16px;" ></span></a>      
      
      <div class="dropdown-menu forAnimate" role="menu">
        <a href="#">หมวด A</a><br>
        <a href="#">หมวด B</a><br>
        <a href="#">หมวด C</a><br>
        <a href="#">หมวด D</a><br>
        <a href="#">หมวด E</a><br>
        <a href="#">หมวด F</a><br>
        <a href="#">หมวด G</a><br>
        <a href="#">หมวด H</a><br>
        <a href="#">หมวด I</a><br>
        <a href="#">หมวด I</a><br>
        <a href="#">หมวด K</a><br>
        <a href="#">หมวด L</a><br>
        <a href="#">หมวด M</a><br>
        <a href="#">หมวด N</a><br>
        <a href="#">หมวด I</a><br>
        <a href="#">หมวด P</a><br>
        <a href="#">หมวด I</a><br>
        <a href="#">หมวด R</a><br>
        <a href="#">หมวด S</a><br>
        <a href="#">หมวด T</a><br>
        <a href="#">หมวด U</a><br>
        <a href="#">หมวด V</a><br>
        <a href="#">หมวด I</a><br>
        <a href="#">หมวด X</a><br>
        <a href="#">หมวด I</a><br>
        <a href="#">หมวด Z</a>
      </div>    
  </div> 
</div>
</div> -->


<div class="container">

<h2 class="page-header">รายการสารเคมี</h2>

<br>
</div>

<div  style="text-align:center"  >

      <input type="text" name="search" id="search"  placeholder=" search" >
  <input class="btn btn-default" type="submit" value="ค้นหา">

</div><br>




<div class="text-align:center;">
    <table class="table_chemical" style="width: 70%;margin-left:15%; 
    margin-right:15%">
      <thead>
        <tr>
            <th style="text-align:center">ลำดับ </th>
            <th style="text-align:center">รายชื่อ</th>
            <th style="text-align:center">สูตรเคมี</th>
            <th style="text-align:center">ยี่ห้อ</th>
            <th style="text-align:center">เกรด</th>
            <th style="text-align:center">ขนาด</th>
            <th style="text-align:center">ราคา</th>
            <th style="text-align:center">จำนวน</th>
    
  
        </tr>
      </thead>
    </table>
</div>



      

<!-- "<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">

  <ul class="nav navbar-nav">
      <li class="active"><a href="#" class=" glyphicon glyphicon-home"> หน้าแรก<span style="font-size:16px;" ></span></a><br>

      <li class="dropdown">
           <a href="#" class="dropdown-toggle " data-toggle="dropdown">ทั่วไป<span class="caret"></span><span style="font-size:16px;" ></span></a>
              
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">หมวด A</a></li>
            <li><a href="#">หมวด B</a></li>
            <li><a href="#">หมวด C</a></li>
            <li><a href="#">หมวด D</a></li>
            <li><a href="#">หมวด E</a></li>
            <li><a href="#">หมวด F</a></li>
            <li><a href="#">หมวด G</a></li>
            <li><a href="#">หมวด H</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด K</a></li>
            <li><a href="#">หมวด L</a></li>
            <li><a href="#">หมวด M</a></li>
            <li><a href="#">หมวด N</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด P</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด R</a></li>
            <li><a href="#">หมวด S</a></li>
            <li><a href="#">หมวด T</a></li>
            <li><a href="#">หมวด U</a></li>
            <li><a href="#">หมวด V</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด X</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด Z</a></li>
    
     
          </ul>
    
          <a href="#" class="dropdown-toggle " data-toggle="dropdown">ทั่วไป<span class="caret"></span><span style="font-size:16px;" ></span></a>
              
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">หมวด A</a></li>
            <li><a href="#">หมวด B</a></li>
            <li><a href="#">หมวด C</a></li>
            <li><a href="#">หมวด D</a></li>
            <li><a href="#">หมวด E</a></li>
            <li><a href="#">หมวด F</a></li>
            <li><a href="#">หมวด G</a></li>
            <li><a href="#">หมวด H</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด K</a></li>
            <li><a href="#">หมวด L</a></li>
            <li><a href="#">หมวด M</a></li>
            <li><a href="#">หมวด N</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด P</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด R</a></li>
            <li><a href="#">หมวด S</a></li>
            <li><a href="#">หมวด T</a></li>
            <li><a href="#">หมวด U</a></li>
            <li><a href="#">หมวด V</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด X</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด Z</a></li>
    
     
          </ul>
          <a href="#" class="dropdown-toggle " data-toggle="dropdown">ทั่วไป<span class="caret"></span><span style="font-size:16px;" ></span></a>
              
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">หมวด A</a></li>
            <li><a href="#">หมวด B</a></li>
            <li><a href="#">หมวด C</a></li>
            <li><a href="#">หมวด D</a></li>
            <li><a href="#">หมวด E</a></li>
            <li><a href="#">หมวด F</a></li>
            <li><a href="#">หมวด G</a></li>
            <li><a href="#">หมวด H</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด K</a></li>
            <li><a href="#">หมวด L</a></li>
            <li><a href="#">หมวด M</a></li>
            <li><a href="#">หมวด N</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด P</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด R</a></li>
            <li><a href="#">หมวด S</a></li>
            <li><a href="#">หมวด T</a></li>
            <li><a href="#">หมวด U</a></li>
            <li><a href="#">หมวด V</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด X</a></li>
            <li><a href="#">หมวด I</a></li>
            <li><a href="#">หมวด Z</a></li>
    
     
          </ul>
        
    </li>
  </ul>    
</div> -->
              
